{{#extend "layout"}}
    {{#content "body" mode="append"}}
        <table class="table table-bordered">
             <tr>
                <td>Course ID</td>
                <td>{{{course.id}}}</td>
            </tr>
            <tr>
                <td>Course Name</td>
                <td>{{{course.course_name}}}</td>
            </tr>
             <tr>
                <td>Course Description</td>
                <td>{{{course.course_description}}}</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>{{{course.category.category_name}}}</td>
            </tr>
            <tr>
                <td>Created At</td>
                <td>{{{course.created_at}}}</td>
            </tr>
             <tr>
                <td>Updated At</td>
                <td>{{{course.updated_at}}}</td>
            </tr>
        </table>

        <a href="/courses/index" class="btn btn-success">Back To Home</a>
        <a href="/courses/update?id={{course.id}}" class="btn btn-secondary">Update</a>
    {{/content}}
{{/extend}}
