{{#extend "layout"}}

{{#content "body"}}
<h1>List Category </h1>

<a href="/categories/create" class="btn btn-primary"> <i class="fa fa-plus"></i> New Category</a>
<br><br>
<table class="table table-bordered">
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
        <th>Category Description</th>
        <th>Status</th>
        <th></th>
    </tr>
    {{#each categories}}
    <tr>
        <td>{{id}}</td>
        <td>{{category_name}}</td>
        <td>{{category_description}}</td>
        <td>{{is_active}}</td>
        <td>
            <center>
                <a href="/categories/detail?id={{id}}"><i class="far fa-eye"></i></a>&nbsp;&nbsp;
                <a href="/categories/delete?id={{id}}" onclick="confirm('Delete?')"><i class="far fa-trash"></i></a>&nbsp;&nbsp;
                <a href="/categories/update?id={{id}}"><i class="far fa-pen"></i></a>&nbsp;&nbsp;
            </center>
        </td>
    </tr>
    {{/each}}
</table>
{{/content}}

{{/extend}}
