{{#extend "layout"}}

{{#content "body" mode="append"}}
<form action="/staffs/update" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="">First Name</label>
        <input type="text" name="staff_firstname" id="" class="form-control" value="{{staff.staff_firstname}}">
    </div>
    <div class="mb-3">
        <label for="">Last Name</label>
        <input type="text" name="staff_lastname" id="" class="form-control" value="{{staff.staff_lastname}}">
    </div>
    <div class="mb-3">
        <label for="">Email</label>
        <input type="text" name="staff_email" id="" class="form-control" value="{{staff.staff_email}}">
    </div>
    <div class="mb-3">
        <label for="">Phone number</label>
        <input type="text" name="staff_phone" id="" class="form-control"value="{{staff.staff_phone}}">
    </div>
    <div class="mb-3">
        <label for="">Address</label>
        <input type="text" name="staff_address" id="" class="form-control" value="{{staff.staff_address}}">
    </div>
    <div class="mb-3">
        <label for="">Password</label>
        <input type="text" name="password" id="" class="form-control" value="{{staff.password}}">
    </div>
    <div class="mb-3">
        <label for="">Avatar</label>
        <input type="file" name="avatar" id="" class="form-control">
    </div>
    <input type="hidden" name="old_image" value="{{staff.avatar}}">
    <input type="hidden" name="id" value="{{staff.id}}">
    <div class="mb-3">
        <input type="submit" value="Update" class="btn btn-primary">
        <input type="reset" value="Reset" class="btn btn-danger">
    </div>
</form>
{{/content}}
{{/extend}}
